<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
    <form>
      <ion-list>
        <ion-list-header>
          <ion-label>Inscription</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-icon name="people" color="primary"></ion-icon>
          <ion-input type="text" placeholder="votre prénom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="people" color="primary"></ion-icon>
          <ion-input type="text" placeholder="votre nom"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" color="primary"></ion-icon>
          <ion-input type="mail" placeholder="votre adress mail"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="key" color="primary"></ion-icon>
          <ion-input type="password" placeholder="votre mot de passe"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block" color="warning"><p>Envoyer</p></ion-button>
    </form>
 </ion-card>
</ion-content>
