<ion-content [fullscreen]="true">
  <ion-card id="card0">
    <ion-card-header>
      <ion-card-title>Niafrang nature</ion-card-title>
      <p>un lieu à découvrir</p>
    </ion-card-header>
  </ion-card>

  <div class="card1">
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-icon name="image" color="warning"></ion-icon>
            <p>Image</p>
          </ion-col>
          <ion-col>
            <ion-icon name="people" color="warning"></ion-icon>
            <p>People</p>
          </ion-col>
          <ion-col>
            <ion-icon name="paper-plane" color="warning"></ion-icon>
            <p>News</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
